# ls aliases
alias ls='ls --color=auto'
alias l='ls -l'
alias ll='ls -la'

# git aliases
alias ga='git add'
alias gaa='git add .'
alias gst='git status'
alias gcs='git commit -S'
alias gcsm='git commit -S -m'
alias gp='git push'
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset" --abbrev-commit'

# zshrc and aliases editing
alias nano='nvim'
alias vi='nvim'
alias vim='nvim'

alias zshrc='$EDITOR ~/.zshrc'
alias vimrc='$EDITOR ~/.config/nvim/init.lua'
alias aliases='$EDITOR ~/.aliases'

alias code='code --profile dbarenholz .'

# quickhand for directories
alias d='cd ~/.dotfiles'
alias c='cd ~/.config'

# Quickly enter distroboxes
alias sb='distrobox enter sb'
alias dev='cd ~/dev && distrobox enter dev'

# Fix lolcat having no colored output in Fedora
alias lolcat='lolcat -f'

# Always search hidden files
fd='fd -H'

## composite commands
# screenshot -- also bound to META+SHIFT+S using sway
alias ss='grim -g "$(slurp)" - | wl-copy'
alias screenshare='echo "enter distrobox (sb) and run:\nmpv -vo=xv udp://0.0.0.0:1111 --no-cache --untimed --no-demuxer-thread --video-sync=audio --vd-lavc-threads=1 & wf-recorder --muxer=mpegts --codec=libx264 --file=udp://0.0.0.0:1111"'
